<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/login.css" rel='stylesheet' type='text/css'/>
    <link rel="icon" href="https://liucy.fun/static/media/18.jpg">
    <title>Enlightened🥝</title>
</head>

<body>
<!-- 最外层的大盒子 -->
<div class="box">
    <!-- 滑动盒子 -->
    <div class="pre-box">
        <h1>WELCOME</h1>
        <p>JOIN US!</p>
        <div class="img-box">
            <img src="https://liucy.fun/static/media/waoku.jpg" alt="">
        </div>
    </div>
    <!-- 注册盒子 -->
    <div class="register-form">
        <!-- 标题盒子 -->
        <div class="title-box">
            <h1>注册</h1>
        </div>
        <!-- 输入框盒子 -->
        <form action="{% url 'user_register' %}" method="post">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" placeholder="请输入您的邮箱" name="email">
                <input type="password" placeholder="请输入密码" name="password">
                <input type="text" placeholder="请输入您的昵称" name="nick_name">
            </div>
            <!-- 按钮盒子 -->
            <div class="btn-box">
                <input type="submit" id="login" value="注册">
        </form>
        <!-- 绑定点击事件 -->
        <p onclick="mySwitch()">已有账号?去登录</p>
    </div>
</div>


<!-- 登录盒子 -->
<div class="login-form">
    <!-- 标题盒子 -->
    <div class="title-box">


        <h1>登录</h1>
    </div>
    <!-- 输入框盒子 -->
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <div class="input-box">
            <input type="text" placeholder="请输入您的邮箱" name="email">
            <input type="password" placeholder="请输入密码" name="password">
        </div>
        <!-- 按钮盒子 -->
        <div class="btn-box">
            <input type="submit" id="login" value="登录">


            <!-- 绑定点击事件 -->
            <p onclick="mySwitch()">没有账号?去注册</p>
        </div>
    </form>
</div>
<span style="color: red">{{ register_form.email.errors.0 }}{{ register_form.password.errors.0 }}{{ register_form.nick_name.errors.0 }}{{ login_form.email.errors.0 }}{{ login_form.password.errors.0 }}{{ msg }}</span>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/login.js" type="text/JavaScript"></script>
</body>
</html>